<h1 class="mt-4">Особистий кабінет</h1>
<p class="lead mb-3">Ласкаво просимо <strong style="font-size: 25px"><%= name %></strong></p>
<!-- Start working hours table_2 -->
<table class="mb-3" style="width: 100%" border="1" cellspacing="0" cellpadding="2" align="center">
  <thead>
    <tr>
      <th colspan="2">Список та дата вступних iспитiв<p></p>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="1">Lorem ipsum dolor sit amet.</td>
      <td>Дата</td>
    </tr>
    <tr>
      <td colspan="1">Lorem ipsum dolor sit amet.</td>
      <td>Дата</td>
    </tr>
    <tr>
      <td colspan="1">Lorem ipsum dolor sit amet.</td>
      <td>Дата</td>
    </tr>
    <tr>
      <td colspan="1">Lorem ipsum dolor sit amet.</td>
      <td>Дата</td>
    </tr>
    <tr>
      <td colspan="1">Lorem ipsum dolor sit amet.</td>
      <td>Дата</td>
    </tr>
    <tr>
      <td colspan="1">Lorem ipsum dolor sit amet.</td>
      <td>Дата</td>
    </tr>
  </tbody>
</table>
<!-- END working hours table_2 -->
<a href="/main" class="btn btn-primary mr-3">Назад</a>
<a href="/users/logout" class="btn btn-danger">Вийти</a>