<div class="container">
  <div class="row">
    <div class="col-md-6">
      <p><%= name %></p>
      <p><%= secondName %></p>
      <p><%= email %></p>
      <p><%= facultet %></p>
    </div>
  </div>
</div>