<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <h4 class="my-4 text-center">Приймальна комісія<br /> <span
        class="lead font-weight-bold text-secondary text-capitalize">коледж
        морського
        і річкового
        флоту</span> </h4>
    <div class="card card-body text-center">
      <h1><i class="fas fa-user-graduate fa-3x"></i></h1>
      <p>Створiть аккаунт або увiйдiть</p>
      <a href="/users/register" class="btn btn-primary btn-block mb-2">Зареєструватись</a>
      <a href="/users/login" class="btn btn-secondary btn-block">Увійти</a>
    </div>
  </div>
</div>